.delete ion-icon {
    color: #DC3645;
}

.done ion-icon {
    color: #198754;
}

.icon ion-icon {
    width: 40px;
}

.clear-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
}